/*-------------------------------------------------*/	
#form{
	}
/*-------------------------------------------------*/	
#form input.login{
	width:100px;
	}
#form div.login{
	}
/*-------------------------------------------------*/	
#form input.senha{
	width:100px;
	}
#form div.senha{
	}
/*-------------------------------------------------*/	
#form div.botoes{
	margin-left:56px;
	}
/*-------------------------------------------------*/
