
/*-------------------------------------------------*/	
#form{
	margin:10px 0px 0px 10px;
	padding:0px;
	}
/*-------------------------------------------------*/	
#form input.hos_id{
	width:100px;
	margin-right:25px;
	}
#form div.hos_id{
	}
/*-------------------------------------------------*/	
#form input.con_nome{
	width:350px;
	margin-right:25px;
	}
#form div.con_nome{
	}
/*-------------------------------------------------*/	
#form input.con_valor_ch{
	width:100px;
	margin-right:25px;
	}
#form div.con_valor_ch{
	}
/*-------------------------------------------------*/	
#form div.botoes{
	margin-top:0px;
	margin-left:407px;
	}
/*-------------------------------------------------*/	
	