
/*-------------------------------------------------*/	
#form{
	margin:10px 0px 0px 10px;
	padding:0px;
	}
/*-------------------------------------------------*/	
#form input.med_id{
	width:100px;
	margin-right:25px;
	}
#form div.med_id{
	}
/*-------------------------------------------------*/	
#form input.exa_nome{
	width:100px;
	margin-right:25px;
	}
#form div.exa_nome{
	}
/*-------------------------------------------------*/	
#form div.botoes{
	margin-top:0px;
	margin-left:478px;
	}
/*-------------------------------------------------*/	
	