
/*-------------------------------------------------*/	
#form{
	margin:0px;
	padding:20px 0px 0px 15px;
	}
#form p{
	margin:0px;
	padding:5px;
	background-color:#FFE6B0;
	}
	
/*-------------------------------------------------*/
#form p.txp_codigo{
	width:350px;
	margin-right:25px;
	}
#form div.txp_codigo{
	}
		
/*-------------------------------------------------*/
#form p.txp_texto{
	width:350px;
	margin-right:25px;
	}
#form div.txp_texto{
	}
		
/*-------------------------------------------------*/	
#form div.botoes{
	margin-top:10px;
	margin-left:402px;
	}
/*-------------------------------------------------*/	
	